{% extends "base.html" %}
{% block content %}
<header class="masthead" style="background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #14008c);background-size: 400% 400%;-webkit-animation: Gradient 15s ease infinite;-moz-animation: Gradient 15s ease infinite;animation: Gradient 15s ease infinite;">
    <div class="intro-body">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-center border rounded shadow-sm" style="font-size: 76px;text-align: center;border-style: solid;text-shadow: 0px 0px 6px;"><strong>Welcome to eLEKsir</strong></h2>
            </div>
        </div>
    </div>
</header>
<section id="about" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 style="text-shadow: 0px 0px 4px;">About&nbsp;<strong>eLEKsir</strong></h2>
                <p>Malesuada dictumst. Interdum risus ex. Sodales ex. Interdum imperdiet sit ornare sed et eget platea dapibus vel non pellentesque pellentesque nulla nec ornare urna quam, molestie in elit. Sit accumsan non sit augue habitasse dictum
                    dictumst. Ut. Faucibus. Lorem velit in ut. Vestibulum ipsum dictum l</p>
                <p>Malesuada dictumst. Interdum risus ex. Sodales ex. Interdum imperdiet sit ornare sed et eget platea dapibus vel non pellentesque pellentesque nulla nec ornare urna quam, molestie in elit. Sit accumsan non sit augue habitasse dictum
                    dictumst. Ut. Faucibus. Lorem velit in ut. Vestibulum ipsum dictum l<br></p>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 style="text-shadow: 0px 0px 3px;">Contact us</h2>
                <p>ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. U<br><br></p>
            </div>
        </div>
    </div>
</section>
            {% endblock content%}
